
{% extends '../../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}
    <style>
        fieldset{ border:1px solid #0d6efd; margin-bottom: 10px; margin-top: 10px;}
        fieldset legend{ color: #0d6efd; font-weight: 350; padding-right: 4px; padding-left: 4px; margin-bottom: 20px;}
        fieldset p{text-align: justify; font-weight: 500; line-height: 120%;}
        p{
            font-size: 15pt;
            margin-top: 15px;
            text-align: center;
        }
    </style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8 offset-sm-1 offset-md-2 offset-lg-2">
                {% bootstrap_messages messages %}
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p class="text-justify"> <i class="far fa-question-circle"></i><strong> Este processo deve ser executado após emissão das notas fiscais (A letra referente as estas notas altera anualmente) e assim as informações dos recebimentos serão enviadas conforme as especificações.</p></strong>
                    </div><br><br>
                </div>
                <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <center><h4 class="text-purple mb-4">RECEBIMENTOS EMPRESARIAL </h4></center>
                        <form method="POST" action="{% url 'recibimentos_empresarial' %}">
                            {% csrf_token %}
                            
                            <div class="form-group mt-4">
                                <label for="inicio_periodo">Periodo de Início</label>
                                <input type="date" name="inicio_periodo" id="inicio_periodo" class="form-control datepicker" placeholder="Periodo de Início" required>
                            </div>
                            <div class="form-group mt-4">
                                <label for="fim_periodo">Periodo Final</label>
                                <input type="date" name="fim_periodo" id="fim_periodo" class="form-control datepicker" placeholder="Periodo Final" required>
                            </div>

                            <center>
                                <button class="btn btn-outline-info mt-3" onclick="setarDatas(event)" type="button">
                                    <i class="far fa-calendar mr-2"></i> <strong> DIA DE HOJE ! </strong>
                                </button>
                            </center>

                            <div class="form-group mt-3">
                                <label for="id_codigo_empresa">Código da Empresa</label>
                                <select class="form-control select2-multi" multiple="multiple" required id="id_codigo_empresa">
                                    <option value="501" title="{{contas.501}}">501</option>
                                    <option value="502" title="{{contas.502}}">502</option>
                                    <option value="505" title="{{contas.505}}">505</option>
                                    <option value="567" title="{{contas.567}}">567</option>
                                    <option value="575" title="{{contas.575}}">575</option>
                                </select>
                            </div>
                            <div class="form-group mt-4">
                                <label for="id_operacao">Operação</label>
                                <select name="operacao" class="form-control" required id="id_operacao">
                                    <option value="" selected=""></option>
                                    <option value="juros">JUROS</option>
                                    <option value="recebimentos">RECEBIMENTOS</option>
                                </select>
                            </div>

                            <fieldset class="p-3 rounded mt-5">
                                
                                <legend class="w-auto">Escolha as Contas:</legend>

                                <div class="form-row" id="select_contas_escritorio"></div>

                            </fieldset>

                            <button class="btn btn-outline-primary float-left mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class="far fa-question-circle"></i> <strong> MAIS INFORMAÇÕES </strong>
                            </button>
                            <button class="btn btn-outline-success float-right mt-5"><i class="fas fa-cloud-download-alt"></i> <strong> GERAR OS RECEBIMENTOS </strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function subsContas(contas){
            document.getElementById('select_contas_escritorio').innerHTML = `

                ${contas.map((conta, index) => {
                    let id_conta = conta[0]
                    conta = conta.join(" - ")
                    return `
                        <div class="col-6 col-sm-6 div_option_${id_conta} mb-2">
                            <label for="id_contas_${index}">
                                <input type="checkbox" name="contas" value="${conta}" id="id_contas_${index}"> ${conta}
                            </label>
                        </div>
                    `
                }).join('')}

                <div class="col-6 col-sm-6 mt-4">
                    <label for="selecionar_todos" style="color: #0d6efd;">
                        <input type="checkbox" id="selecionar_todos" onclick="checkAllOrNo(event)"> TODAS AS CONTAS
                    </label>
                </div>
            `
        }

        function checkAllOrNo(event){
            for (input of document.querySelectorAll('#select_contas_escritorio input')){
                input.checked = event.target.checked;
            }
        }

        function setarDatas(event){
            event.preventDefault();
            document.getElementById('inicio_periodo').value = moment().format('YYYY-MM-D')
            document.getElementById('fim_periodo').value = moment().format('YYYY-MM-D')
        }
    </script>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script>
    $('.select2-multi').select2(
        {
            multiple: true,
            theme: 'bootstrap4',
            width: '100%'
        }
    );

    $('#id_codigo_empresa').on('select2:select', function (e) { 
        var contas = []
        let data = [].slice.call(e.target.options).filter(elem => elem.selected)
        for (option of data){
            contas.push(...option.title.split("*").map(el => [option.value, el.trim()]))
        }
        subsContas(contas)
    });

    $('#id_codigo_empresa').on('select2:unselect', function (e) { 
        var option = e.params.data.id;
        for (elem of document.querySelectorAll(`.div_option_${option}`)){
            elem.remove();
        }
    });

</script>

{% endblock %}