{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PORTAL FINANCEIRO</title>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <link rel="icon" href="{% static 'assets/logo/dp.jpg' %}">
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">

    <style>
      body{
        box-sizing: border-box;
        background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.835)), url("{% static 'assets/images/auth/login.jpg' %}");
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
      }
    </style>

  </head>
  <body>
    <div class="wrapper vh-100">
      <div class="row align-items-center h-100">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center mb-5" method="POST" action="{% url 'login' %}">
          {% bootstrap_messages messages %}
          {% csrf_token %}
          <h1 class="mb-5 text-white"><i> Portal Financeiro </i> <i class="fe fe-dollar-sign"></i></h1>
          <div class="form-group">
            <label for="login" class="sr-only">Username</label>
            <input type="text" name="login" id="login" class="form-control form-control-lg" placeholder="Username" required autofocus="">
          </div>
          <div class="form-group">
            <label for="senha" class="sr-only">Password</label>
            <input type="password" name="senha" id="senha" class="form-control form-control-lg" placeholder="Password" required>
          </div>
          <button class="btn btn-lg btn-outline-success btn-block mt-5" type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </body>
</html>
</body>
</html>
