{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block body %}

<style>
  .btn-orange{
    background-color: #FD7E14;
  }
  input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
  }
  input[type='checkbox']:checked {
      background: #6F46B7;
  }
</style>

<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row my-4">
          <h2 class="text-center ml-3 mb-3">EMPRESAS OMIE</h2>
          <!-- Small table -->
          <div class="col-md-12">
            {% bootstrap_messages messages %}
            <div id="alert_geral_sucesso"></div>
            <div class="card shadow" id="cardOs">
              <div class="card-header">

                <div class="d-flex justify-content-end mt-3 w-100">
                  <a class="btn btn-success ml-1" style="color:#fff;" onclick="open_modal_atualizar_empresas(event.target)">Atualizar Empresas OMIE</a>
                </div>

              </div>
              <div class="card-body">
                <!-- table -->
                <table class="table datatables table-hover" id="dataTable-1">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Escritório</th>
                      <th>Código OMIE</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for empresa in empresas %}
                      <tr id="tr_{{empresa.codigo_cliente_omie}}">
                        <td class="h6">{{empresa.cd_empresa}} / {{empresa.estab}} - {{empresa.name_empresa}} (CNPJ/CPF: {{empresa.cnpj_cpf}})</td>
                        <td class="h6">{{empresa.escritorio}}</td>
                        <td class="h6">{{empresa.codigo_cliente_omie}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        </div>
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
</main> <!-- main -->


<div class="modal fade" id="modalUpdateEmpresas" tabindex="-1" role="dialog" aria-labelledby="modalUpdateEmpresasLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalUpdateEmpresasLabel">Atualizar Empresas OMIE</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form id="form_for_dow">
            {% csrf_token %}
            <h6> Atualizar Empresas Específicas: <h6>
            <div class="mt-2">
              <select class="select2_empresas" id="select_empresas" name="select_empresas"></select>
              <small> Se não for passado nenhuma Empresa, Todas vão ser Atualizadas <small>
            </div>
            <div class="mt-3">
              <select class="select2_escritorios" id="select_escritorios" name="select_escritorios">
                <option value="501">501</option>
                <option value="502">502</option>
                <option value="505">505</option>
                <option value="567">567</option>
                <option value="575">575</option>
              </select>
              <small> Se não for passado nenhum Escritório, Todos vão ser Atualizados <small>
            </div>
            <hr>
          </form>
          <div id="error_aviso_up"></div>
          <div class="accordion w-100" id="accordion1">
            <div class="card shadow">
              <div class="card-header" id="heading1">
                <a role="button" href="#collapse1" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  <strong>Erros de Execução / Empresas que tem Contrato Ativo no OMIE e não estão na Nossa Base Ativa...👇</strong>
                </a>
              </div>
              <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion1">
                <div class="card-body"> <ul id="div_body_up" class="list-group"></ul> </div>
              </div>
            </div>
          </div>
          <div class="progress mt-4" id="div_progress_boletos">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="progress_boletos"></div>
          </div>
          <center>
              <button class="btn btn-outline-success btn-lg mt-5" id="button_update_empresas" onclick="atualizar_empresas_omie(event)">
                <strong>Atualizar Empresas</strong>
              </button>
          </center>
        </div>
    </div>
  </div>
</div>

<script>

  async function open_modal_atualizar_empresas(btn){
    var myModal = new bootstrap.Modal(document.getElementById('modalUpdateEmpresas'), {backdrop: 'static'});
    $('#select_empresas').empty().trigger('change');
    $('#select_escritorios').val(null).trigger('change');
    document.getElementById('div_progress_boletos').style.display = 'none';
    document.getElementById('collapse1').classList.remove("show");
    button_spinner(document.getElementById('button_update_empresas'), false, "Atualizar Empresas");
    await get_status_update_anterior(btn);
    myModal.toggle();
  }

  function mostrarAlert(div_id_class, type_alert, mensagem){
    document.getElementById(div_id_class).innerHTML = `<div class="alert alert-${type_alert} alert-dismissible fade show" role="alert"><strong class="text-dark">${mensagem}</strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`

    setTimeout(() => {
      $('.alert').alert('close')
    }, 5000)
  }

  async function get_status_update_anterior(btn){
    document.getElementById('div_body_up').innerHTML = "";
    button_spinner(btn, true)
    await fetch("{% url 'status_total_update_empresa' %}")
      .then(response => {
        if (!response.ok) {
          return response.json().then(err => {
            throw new Error(`${err.message}`);
          });
        }
        return response.json();
      })
      .then(data => {
        if (data.errors?.length > 0){
          document.getElementById('div_body_up').innerHTML = `${data.errors.map(tr => `<li class="list-group-item">${tr}</li>`).join("<br>")}`;
        }
      })
      .catch(error => {
        mostrarAlert('error_aviso_up', 'danger', error);
      })
      .finally(() => {
        button_spinner(btn, false, 'Atualizar Empresas');
      });
  }

</script>

{% endblock %}


{% block scripts %}

<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js" type="text/javascript"></script>

<script>

  $('.select2_empresas').select2( 
    { 
      theme: 'bootstrap4',
      width: '100%',
      tags: true,
      multiple: true,
      allowClear: true,
      placeholder: "Select an attribute",
      createTag: function (params) {
        var term = $.trim(params.term.replace(/[^0-9]/g, ''));
        if (term === '' || term.length > 5) {
          return null;
        }
        return { id: term, text: term }
      }
    } 
  );

  $('.select2_escritorios').select2( 
    { 
      theme: 'bootstrap4',
      width: '100%',
      multiple: true,
      allowClear: true,
      placeholder: "Selecione os Escritórios",
    } 
  );

  var table = $('#dataTable-1').DataTable();

  function button_spinner(button, active, html=''){
    button.innerHTML = active ? `
      <center>
        <div class="spinner-border justify-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </center>
    ` : `${html}`;
    button.disabled = active;
  }

  async function atualizar_empresas_omie(e){
    e.preventDefault();
    document.getElementById('div_body_up').innerHTML = "";
    button_spinner(e.target, true)
    const formulario_file = document.getElementById("form_for_dow");
    const formData = new FormData(formulario_file);
    await fetch("{% url 'update_empresa_omie' %}", { method: "POST", body: formData })
      .then(response => {
        if (!response.ok) {
          return response.json().then(err => {
            throw new Error(`${err.message}`);
          });
        }
        return response.json();
      })
      .then(data => {
        if (Object.keys(data).includes('task_id')){
          verificarStatus(data.task_id);
          document.getElementById('div_progress_boletos').style.display = '';
          document.getElementById('progress_boletos').style.width = '0%';
          document.getElementById('progress_boletos').textContent = '0%';
        }else{
          mostrarAlert('error_aviso_up', 'danger', "Não retornou Corretamente a Resposta da API (ID DA TASK)");
          button_spinner(e.target, false, "Atualizar Empresas");
        }
      })
      .catch(error => {
        mostrarAlert('error_aviso_up', 'danger', error);
        button_spinner(e.target, false, "Atualizar Empresas");
      })
  }
  
  async function verificarStatus(taskId) {
    const interval = setInterval(async () => {
      const response = await fetch(`/ordem_servico/status_real_time_update_empresa/${taskId}/`);
      const data = await response.json();
      let pros = document.getElementById('progress_boletos');
      let btn = document.getElementById('button_update_empresas');
      console.log("Status:", data);
      
      if (data.state === "PROGRESS") {
        pros.style.width = `${(data.info.current / data.info.total) * 100}%`;
        pros.textContent = `${data.info.current} de ${data.info.total}`;
      }

      if (data.state === "SUCCESS") {
        clearInterval(interval);
        pros.style.width = `100%`;
        pros.textContent = `Finalizado o Processo, Reinicie a Página ✅🔄`;
        pros.className = pros.className.replace("primary", "success");
        button_spinner(btn, true, "REINICIE 👍");
      }

      if (data.state === "FAILURE") {
        clearInterval(interval);
        mostrarAlert('error_aviso_up', 'danger', `Erro do CELERY: ${data.info?.message}`);
        button_spinner(btn, false, '<strong>ERRO AO ATUALIZAR, RODE NOVAMENTE</strong>');
        btn.className = btn.className.replace("primary", "danger");
        pros.style.width = `0%`;
      }

    }, 10000);
  }

</script>

{% endblock %}
    