{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block body %}

<style>
  .btn-orange{
    background-color: #FD7E14;
  }
  input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
  }
  input[type='checkbox']:checked {
      background: #6F46B7;
  }
  .text-micolor{
    color: #00FFFF;
  }
</style>

<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row my-4">
          <h2 class="text-center ml-3 mb-3">Controle de Ordens de Serviços</h2>
          <!-- Small table -->
          <div class="col-md-12">
            {% bootstrap_messages messages %}
            <div id="alert_geral_sucesso"></div>
            <div class="card shadow" id="cardOs">
              <div class="card-header">

                <div class="d-lg-flex justify-content-between">
                  <select class="custom-select ml-2" style="max-width: 50%;" id="find_status" onchange="search(event)">
                    <option value="">Status...</option>
                    <option value="APROVADO">APROVADO</option>
                    <option value="DEBITAR">DEBITAR</option>
                    <option value="DEBITADO">DEBITADO</option>
                    <option value="ARQUIVADO">ARQUIVADO</option>
                    <option value="SEM SERVIÇO SELECIONADO">SEM SERVIÇO SELECIONADO</option>
                  </select>
                  <div class="d-flex flex-row">
                    <input 
                        type="date" 
                        id="min-date"
                        name="min_date"
                        title="Início do Período"
                        class="date-range-filter form-control"
                        placeholder="Período Inicial:">
                    &nbsp;&nbsp;
                    <input 
                        type="date" 
                        id="max-date" 
                        name="max_date" 
                        title="Fim do Período" 
                        class="date-range-filter form-control"
                        placeholder="Período Final:">
                  </div>
                </div>

                <div class="d-flex justify-content-between mt-3 w-100">
                  <a class="btn btn-warning" style="color:#fff;" onclick="list_checks_table(event)">Debitar em Lote</a>
                  <a class="btn btn-success ml-1" style="color:#fff;" onclick="open_modal_add_os()">Adicionar O.S.</a>
                  <a class="btn btn-orange ml-1" style="color:#fff;" onclick="open_modal_auditoria()">Baixar Planilha</a>
                  <a class="btn btn-info ml-1" style="color:#fff;" onclick="open_modal_baixar_boletos()">Baixar Boletos</a>
                </div>

              </div>
              <div class="card-body">
                <!-- table -->
                <table class="table datatables table-hover" id="dataTable-1">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Serviço</th>
                      <th>Data da Cobrança</th>
                      <th>Valor</th>
                      <th>Status</th>
                      <th>Action</th>
                      <th>Debitar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ordem in ordens %}
                      {% with counter=forloop.counter0 %}
                        <tr id="tr_{{counter}}">
                          <td title="empresa" class="h6 {% if ordem.cod_os_omie %} text-success {% elif ordem.aprovado %} text-micolor {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.empresa.cd_empresa}} - {{ordem.empresa.name_empresa}}</td>
                          {% if ordem.cd_servico == 0 or ordem.cd_servico == '0' %}
                            <td title="servico" class="h6 text-danger">
                              SEM SERVIÇO SELECIONADO - (desc.: {{ordem.servico}}) <b>*PRECISA TRATAR*</b>
                            </td>
                          {% else %}
                            <td title="servico" class="h6 {% if ordem.cod_os_omie %} text-success {% elif ordem.aprovado %} text-micolor {% elif not ordem.arquivado %} text-warning {% endif %}"> {{ordem.servico}} - (desc.: {{ordem.ds_servico}}) </td>
                          {% endif %}
                          <td title="cobranca" class="h6 {% if ordem.cod_os_omie %} text-success {% elif ordem.aprovado %} text-micolor {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.data_cobranca}}</td>
                          <td title="valor" class="h6 {% if ordem.cod_os_omie %} text-success {% elif ordem.aprovado %} text-micolor {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.valor}} (qtd: {{ordem.quantidade}})</td>

                          <td title="status" class="h6 {% if ordem.cod_os_omie %} text-success {% elif ordem.aprovado %} text-micolor {% elif not ordem.arquivado %} text-warning {% endif %}" id="status"> 
                            {% if ordem.cod_os_omie %} 
                              DEBITADO
                            {% elif ordem.arquivado %} 
                              ARQUIVADO 
                            {% elif ordem.aprovado %}
                              APROVADO 
                            {% else %}
                              DEBITAR
                            {% endif %}
                          </td>

                          <td>
                            <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <button class="dropdown-item text-primary" onclick="buscar_ordem_for_id(event, {{ordem.id}}, 'view', 'tr_{{counter}}')"><i class="fe fe-eye fe-16 mr-2"></i> Visualizar Ordem</button>

                              {% if not ordem.cod_os_omie or ordem.cod_os_omie|length == 0 %}
                                <button class="dropdown-item text-warning" onclick="buscar_ordem_for_id(event, {{ordem.id}}, 'edit', 'tr_{{counter}}')"><i class="fe fe-edit fe-16 mr-2"></i> Editar Ordem</button>
                              {% endif %}

                              <button class="dropdown-item text-danger" onclick="open_modal_deletar({{ordem.id}}, '{{ordem.empresa.cd_empresa}}', '{{ordem.empresa.name_empresa}}', 'tr_{{counter}}', '{{ordem.cod_os_omie}}')"><i class="fe fe-trash-2 fe-16 mr-2"></i> Deletar Ordem</button>
                            </div>
                          </td>
                          <td title="check" class="h6 d-flex justify-content-center">
                            {% if not ordem.cod_os_omie and not ordem.arquivado and not ordem.cd_servico == '0'%}
                              <input class="form-check-input" type="checkbox" value="" ordemid="{{ordem.id}}" id="flexCheckDefault">
                            {% endif %}
                          </td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Empresa</th>
                      <th id="filterServico">Serviço</th>
                      <th>Data da Cobrança</th>
                      <th>Valor</th>
                      <th id="filterDebitar">Status</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        </div>
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
</main> <!-- main -->


<!-- MODAL Create Regra -->
<div class="modal fade" id="modalEditOrdem" tabindex="-1" role="dialog" aria-labelledby="modalEditOrdemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalEditOrdemLabel"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="error_aviso"></div>
            <form id="form_cadastra_update_os">
                {% csrf_token %}

                <input type="number" name="id_ordem" id="id_ordem_form" style="display: none;">

                <div class="form-row" id="typecreate_ordem"></div>
                <br>
                <br>

                <div class="form-row">
                  <div class="col-12 col-sm-12">
                    <label class="font-weight-bold" for="id_empresa">Empresa: </label>
                    <select name="id_empresa" class="form-control select2" required id="id_empresa">
                      <option value="" selected></option>
                      {% for empresa in empresas %}
                        <option value="{{empresa.codigo_cliente_omie}}" title="{{empresa.escritorio}}">
                          {{empresa.cd_empresa}} / {{empresa.estab}} - {{empresa.name_empresa}} (Escritório: {{empresa.escritorio}})
                        </option>
                      {% endfor %}
                    </select>
                    <small class="form-text text-muted">Escolha uma dentre as Opções (Campo é necessário)</small>
                  </div>
                </div>
                <br>
                <br>

                <div class="form-row">
                  {% bootstrap_field form.execucao label_class='font-weight-bold' form_group_class="col-4 col-sm-4" placeholder=False %}
                  {% bootstrap_field form.data label_class='font-weight-bold' form_group_class="col-4 col-sm-4"  %}
                  {% bootstrap_field form.data_cobranca label_class='font-weight-bold' form_group_class="col-4 col-sm-4" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                  <div class="col-12 col-sm-12">
                      <label class="font-weight-bold" for="id_servico">Serviço: </label>
                      <select name="servico" class="form-control select2" required id="id_servico"></select>
                      <small class="form-text text-muted">Escolha uma dentre as Opções (Campo é necessário)</small>
                  </div>
                  <div class="card mt-2"> 
                    <div class="card-body" id="div_service_selected" style="display: none;">
                      Serviço Selecionado na Criação da OS: <b id="service_selected"></b>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    <div class="col-12 col-sm-12">
                        <label class="font-weight-bold" for="id_descricao">Descrição:</label>
                        <textarea name="descricao" cols="40" rows="2" class="form-control" id="id_descricao"></textarea>
                        <small class="form-text text-muted">Descrever a Descrição</small>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.descricao_servico label_class='font-weight-bold' form_group_class="col-12 col-sm-12" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.quantidade label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    <div class="col-6 col-sm-6">
                        <label class="font-weight-bold" for="id_valor">Valor:</label>
                        <input type="text" name="valor" class="form-control input-money" required id="id_valor">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.autorizacao label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    {% bootstrap_field form.solicitacaoLocal label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.solicitacao label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    {% bootstrap_field form.executado label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                </div>
                <br>
                <br>

                <button class="btn btn-outline-primary float-right mt-3" style="width: 100%;" id="id_button_for_edit_os" data-toggle="popover" data-placement="bottom" data-trigger="hover"> 
                    <strong>Executar</strong>
                </button>
            </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDownloadPdfs" role="dialog" aria-labelledby="modalDownloadPdfsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalDownloadPdfsLabel">Baixar Boletos Por Escritório</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div id="error_aviso_dow"></div>
          <div id="div_body_dow"></div>
          <div class="card border-info mb-3 w-100">
            <div class="card-body text-info">
              <p class="card-text">ESTA FUNCIONALIDADE PODE SER DEMORADA, DEPOIS DE RODAR, NÃO ATUALIZE E NEM SAIA DA PAGINA ATÉ FINALIZAR !!</p>
            </div>
          </div>
          <form enctype="multipart/form-data" id="form_for_dow">
            {% csrf_token %}
            <label for="fileBoletos">Arquivo com as OS que deram algum erro ! (* Opcional *) </label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="fileBoletos" name="arquivo_os" accept=".xlsx">
              <label class="custom-file-label" for="fileBoletos">Selecione o Arquivo (* Opcional *)</label>
            </div>
            <div class="mt-4">
              <label for="select_escritorio" class="font-weight-bold">Selecione o Escritório:</label>
              <select class="custom-select" id="select_escritorio" name="select_escritorio">
                <option value="501">501</option>
                <option value="502">502</option>
                <option value="505">505</option>
                <option value="567">567</option>
                <option value="575">575</option>
              </select>
            </div>
            <div class="mt-4">
              <label for="select_filename" class="font-weight-bold">Selecione ou Digite o NOME DOS ARQUIVOS:</label>
              <select class="select2" id="select_filename" name="select_filename" required>
                <option value="HONORARIO CONTABIL MESANO">HONORARIO CONTABIL MESANO</option>
              </select>
            </div>
            <div class="d-flex justify-content-between mt-5">
              <button class="btn btn-primary" onclick="baixar_boletos_escritorio(event)">
                <strong>Buscar Boletos deste Escritório !</strong>
              </button>
              <button class="btn btn-outline-success" style="display: none;" id="btn_down_bol">
                <strong>Baixar Boletos !</strong>
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- MODAL DELETE -->
<div class="modal fade" id="modalDeleteOrdem" tabindex="-1" role="dialog" aria-labelledby="modalDeleteOrdemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalDeleteOrdemLabel"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div id="error_aviso_delete"></div>
          <center>
              <button class="btn btn-outline-success btn-lg" id="button_delete_ordem">
                <strong>Deletar Ordem</strong>
              </button>
          </center>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalViewOrdem" tabindex="-1" role="dialog" aria-labelledby="modalViewOrdemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="error_aviso_view"></div>
        <div class="modal-header">
            <h5 class="modal-title" id="modalViewOrdemLabel"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="view_ordem"></div>
        <div class="modal-footer d-flex justify-content-between" id="modal-footer">
          <button type="button" id="button_arquive_view"></button>
          <button type="button" id="button_aprovar_view"></button>
          <button type="button" id="button_debito_view"></button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAuditoria" tabindex="-1" role="dialog" aria-labelledby="modalAuditoriaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalAuditoriaLabel">Baixar Planilha das Ordens de Serviços Cadastrados</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'baixar_planilha_ordens_servico' %}">
              {% csrf_token %}
              <div id="div_inputs_filter"></div>
              <center>
                <button class="btn btn-outline-success btn-lg mt-5">
                  <strong>Baixar Planilha</strong>
                </button>
              </center>
            </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDebitoLote" tabindex="-1" role="dialog" aria-labelledby="modalDebitoLoteLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDebitoLoteLabel">Debitar Ordens em Lote</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="error_aviso_lotes"></div>
          <div class="form-group mb-3">
            <form enctype="multipart/form-data" id="form_for_file">
              {% csrf_token %}
              <div class="mb-4">
                <label for="select_lanc" class="font-weight-bold">Selecione o Tipo de Lançamento:</label>
                <select class="custom-select" id="select_lanc" name="select_lanc">
                  <option value="datas">PERÍODOS DE DATAS E ESCRITÓRIO</option>
                  <option value="files">LANÇAMENTO LIVRE</option>
                </select>
              </div>
              <hr>
              <div class="form-row mb-4">
                <div class="col-6 col-sm-6">
                  <label class="font-weight-bold" for="data_inicio_debito">Data Início de Cobrança: </label>
                  <input type="date" name="data_inicio_debito" class="form-control" required id="data_inicio_debito">
                </div>
                <div class="col-6 col-sm-6">
                  <label class="font-weight-bold" for="data_final_debito">Data Final de Cobrança: </label>
                  <input type="date" name="data_final_debito" class="form-control" required id="data_final_debito">
                </div>
              </div>
              <div class="mb-4">
                <label for="select_escritorio_lote" class="font-weight-bold">Selecione o Escritório (* Opcional - Não selecionar vai lançar de Todos... *):</label>
                <select class="custom-select" id="select_escritorio_lote" name="select_escritorio_lote">
                  <option value=""></option>
                  <option value="501">501</option>
                  <option value="502">502</option>
                  <option value="505">505</option>
                  <option value="567">567</option>
                  <option value="575">575</option>
                </select>
              </div>
              <hr>
              <label for="customFile">Arquivo de Ordens para Débito Em Lote no OMIE (* Opcional *): </label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="arquivo_os" accept=".xlsx">
                <label class="custom-file-label" for="customFile">Selecione o Arquivo (* Opcional *)</label>
              </div>
            </form>
          </div>
          <hr>
          <div id="bodyDebitoLote"></div>
        </hr>
        <div class="modal-footer">
          <button class="btn btn-outline-success btn-lg" onclick="debitar_ordens_lote(event)">
            Debitar
          </button>
        </div>
    </div>
  </div>
</div>

<script>

  $('#customFile').on("change", (el) => {
    let text = el.target.nextElementSibling;
    if (!el.target.value.includes("xlsx")){
      text.textContent = "Formato Inválido, Selecione apenas Arquivos XLSX...";
    }else{
      text.textContent = el.target.value.split('\\').pop();
    }
  })

  $('#fileBoletos').on("change", (el) => {
    let text = el.target.nextElementSibling;
    if (!el.target.value.includes("xlsx")){
      text.textContent = "Formato Inválido, Selecione apenas Arquivos XLSX...";
    }else{
      text.textContent = el.target.value.split('\\').pop();
    }
  })

  $('#select_lanc').on("change", (el) => {
    if (el.target.value == 'datas'){
      let date = new Date();
      document.getElementById("data_inicio_debito").valueAsDate = new Date(date.getFullYear(), date.getMonth(), 1);
      document.getElementById("data_final_debito").valueAsDate = date;
      document.getElementById("data_inicio_debito").disabled = false;
      document.getElementById("data_final_debito").disabled = false;
      document.getElementById("select_escritorio_lote").disabled = false;
      document.getElementById("select_escritorio_lote").value = '';
      document.getElementById('bodyDebitoLote').innerHTML = "";
      document.getElementById("customFile").value = '';
      document.getElementById("customFile").disabled = true;
    }else{
      document.getElementById("data_inicio_debito").disabled = true;
      document.getElementById("data_final_debito").disabled = true;
      document.getElementById("select_escritorio_lote").disabled = true;
      document.getElementById("customFile").value = '';
      document.getElementById("customFile").disabled = false;
      let orders = table.rows('.selected').data();
      document.getElementById('bodyDebitoLote').innerHTML = `${orders.map(tr => `${tr[0]} | ${tr[1]} | ${tr[2]} | ${tr[3]}`).join("<br>")}`;
    }
  })

  function open_modal_update(ordem, tr_id){
    var myModal = new bootstrap.Modal(document.getElementById('modalEditOrdem'), {backdrop: 'static'});
    if (typeof ordem.empresa != 'object'){
      $("#form_cadastra_update_os").find('input, textarea, select, button').prop('disabled', true);
      $('#id_empresa').val(null).trigger('change');
    }else{
      $('#id_empresa').val(`${ordem.empresa.codigo_cliente_omie}`).trigger('change');
      selecionar_empresa(ordem.empresa.escritorio, ordem.cd_servico + ' * ' + ordem.servico);
    }
    $('#id_servico').empty().trigger('change');
    document.getElementById('id_empresa').disabled = false;
    document.getElementById('div_service_selected').style.display = "block";
    document.getElementById('service_selected').textContent = ordem.servico;
    document.getElementById('service_selected').style.color = "rgb(23, 162, 184)";
    document.getElementById('modalEditOrdemLabel').textContent = `Editar Esta Ordem da ${ordem.empresa?.cd_empresa} - ${ordem.empresa?.name_empresa}`
    document.getElementById('id_ordem_form').value = parseInt(ordem.id)
    document.getElementById('id_execucao').value = ordem.hora_trabalho
    document.getElementById('id_data').value = ordem.data_realizado.split('/').reverse().join('-')
    document.getElementById('id_data_cobranca').value = ordem.data_cobranca.split('/').reverse().join('-')
    document.getElementById('id_descricao').required = true
    document.getElementById('id_ordem_form').required = true
    document.getElementById('id_descricao').value = ordem.ds_servico
    document.getElementById('id_descricao_servico').value = ordem.observacoes_servico
    document.getElementById('id_quantidade').value = parseInt(ordem.quantidade)
    document.getElementById('id_valor').value = ordem.valor.replace("R$ ", '')
    document.getElementById('id_autorizacao').value = ordem.autorizado_pelo_cliente ? 'SIM' : 'NÃO'
    document.getElementById('id_solicitacaoLocal').value = ordem.type_solicitacao
    document.getElementById('id_solicitacao').value = ordem.solicitado
    document.getElementById('id_executado').value = ordem.executado
    document.getElementById('typecreate_ordem').innerHTML = ''
    document.getElementById('id_button_for_edit_os').setAttribute('onclick', `editar_ordem(event, ${ordem.id},'${tr_id}')`)
    myModal.toggle()
  }

  function open_modal_baixar_boletos(){
    var myModal = new bootstrap.Modal(document.getElementById('modalDownloadPdfs'), {backdrop: 'static'})
    myModal.toggle()
  }

  function open_modal_deletar(id_ordem, cd_empresa, razao_social, tr_id, cod_os){
    var myModal = new bootstrap.Modal(document.getElementById('modalDeleteOrdem'))
    document.getElementById('modalDeleteOrdemLabel').textContent = `Deletar a Regra para a Empresa: ${cd_empresa} - ${razao_social}`;
    document.getElementById('button_delete_ordem').setAttribute('onclick', `deletar_ordem(event, ${id_ordem}, '${tr_id}')`);
    if (cod_os != '' && cod_os != 'None'){
      mostrarAlert('error_aviso_delete', 'info', "Esta Ordem Possui uma OS na OMIE !!")
    }
    myModal.toggle()
  }

  function open_modal_auditoria(){
    var myModal = new bootstrap.Modal(document.getElementById('modalAuditoria'))
    let filtros_input = document.getElementById('cardOs').getElementsByTagName('input');
    let campos = []
    for (input of filtros_input){
      if (input.value && input.type !== 'search'){
        if (input.title == 'Serviço'){
          if (input.value == 'SEM SERVIÇO SELECIONADO'){
            continue;
          }
        }
        campos.push(input);
      }
    }
    document.getElementById('div_inputs_filter').innerHTML = campos.length > 0 ? `
      <h3 class="mb-5">Escolha os Filtros:</h3>
      ${campos.map(input => {
        return `
          <div class="form-row mt-3">
            <div class="col-12 col-sm-12">
              <label class="font-weight-bold" for="cd_empresa">${input.title}:</label>
              <div class="input-group mb-3">
                <input type="${input.type}" class="${input.className}" name="${input.name}" placeholder="${input.title}" aria-label="${input.title}" aria-describedby="button-addon2" value="${input.value}" required>
                <button class="btn btn-outline-danger" type="button" onclick="return this.parentNode.parentNode.parentNode.remove()" id="button-addon2"><i class="fe fe-trash-2 fe-16"></i>Deletar Filtro</button>
              </div>
            </div>
          </div>
        `
      }).join("\n")}
    ` : ''
    myModal.toggle()
  }

  function open_modal_add_os(){
    var myModal = new bootstrap.Modal(document.getElementById('modalEditOrdem'), {backdrop: 'static'})
    $("#form_cadastra_update_os").find('input, textarea, select, button').prop('disabled', true);
    document.getElementById('id_empresa').disabled = false;
    $('#id_empresa').val(null).trigger('change');
    $('#id_servico').empty().trigger('change');
    document.getElementById('div_service_selected').style.display = "none";
    document.getElementById('modalEditOrdemLabel').textContent = `Adicionar Ordem de Serviço`
    document.getElementById('id_ordem_form').value = ''
    document.getElementById('id_execucao').value = ''
    document.getElementById('id_data').value = ''
    document.getElementById('id_data_cobranca').value = ''
    document.getElementById('id_descricao').value = ''
    document.getElementById('id_descricao').required = false
    document.getElementById('id_ordem_form').required = false
    document.getElementById('id_descricao_servico').value = ''
    document.getElementById('id_quantidade').value = ''
    document.getElementById('id_valor').value = ''
    document.getElementById('id_autorizacao').value = ''
    document.getElementById('id_solicitacaoLocal').value = ''
    document.getElementById('id_solicitacao').value = ''
    document.getElementById('id_executado').value = ''
    document.getElementById('typecreate_ordem').innerHTML = `
      <div class="col-12 col-sm-12">
        <label class="font-weight-bold" for="id_typeCreate">Opções de Cadastro: </label>
        <select name="typeCreate" class="form-control" required id="id_typeCreate">
          <option valeu=''></option>
          <option valeu='DEBITAR'>À DEBITAR</option>
          <option valeu='ARQUIVADO'>ARQUIVADO</option>
        </select>
      </div>
    `
    document.getElementById('id_button_for_edit_os').setAttribute('onclick', `editar_ordem(event)`)
    myModal.toggle()
  }

  function abrir_modal_view_ordem(ordem, tr_id){
    var myModal = new bootstrap.Modal(document.getElementById('modalViewOrdem'))
    let button_debito = document.getElementById('button_debito_view')
    button_debito.style.display = 'block';
    let button_arquive = document.getElementById('button_arquive_view')
    button_arquive.style.display = 'block';
    let button_aprova = document.getElementById('button_aprovar_view')
    button_aprova.style.display = 'block';
    document.getElementById('view_ordem').innerHTML = `
      <ul class="list-group list-group-flush">
        <li class="list-group-item h5">Empresa: ${ordem.empresa?.cd_empresa} - ${ordem.empresa?.name_empresa} (Escrit. ${ordem.empresa?.escritorio})</li>
        <li class="list-group-item h5">Serviço: ${ordem.servico}</li>
        <li class="list-group-item h5">Descrição Serviço: ${ordem.ds_servico}</li>
        <li class="list-group-item h5">Descrição: ${ordem.observacoes_servico}</li>
        <li class="list-group-item h5">Quantidade: ${ordem.quantidade}</li>
        <li class="list-group-item h5">Valor: ${ordem.valor}</li>
        <li class="list-group-item h5">Horas: ${ordem.hora_trabalho}</li>
        <li class="list-group-item h5">Data Realizado: ${ordem.data_realizado}</li>
        <li class="list-group-item h5">Quem Solicitou: ${ordem.solicitado}</li>
        <li class="list-group-item h5">Quem Realizou: ${ordem.executado} </li>
        <li class="list-group-item h5">Departamento: ${ordem.departamento}</li>
        <li class="list-group-item h5">Autorizado: ${ordem.autorizado_pelo_cliente ? 'SIM' : 'NÃO'} </li>
        <li class="list-group-item h5">Tipo: ${ordem.type_solicitacao}</li>
        <li class="list-group-item h5">Quem Criou a OS: ${ordem.criador_os}</li>
        <li class="list-group-item h5" id="li_spinner"></li>
      </ul>
    `
    if (ordem.arquivado){
      button_debito.style.display = 'none'
      button_aprova.style.display = 'none'
      button_arquive.textContent = "Remover do Arquivado"
      button_arquive.className = 'btn btn-danger text-white'
      button_arquive.setAttribute('onclick', `arquivar_os(event, ${ordem.id}, "False", '${tr_id}')`)
    }else{
      button_arquive.textContent = "Arquivar / Ignorar Ordem de Serviço"
      button_arquive.className = 'btn btn-warning text-white'
      button_arquive.setAttribute('onclick', `arquivar_os(event, ${ordem.id}, "True", '${tr_id}')`)
    }

    if (ordem.aprovado){
      button_arquive.style.display = 'none'
      button_aprova.textContent = "DESAPROVAR"
      button_aprova.className = 'btn btn-danger text-white'
      button_aprova.setAttribute('onclick', `aprovar_os(event, ${ordem.id}, "False", '${tr_id}')`)
    }else{
      button_aprova.textContent = "APROVAR OS"
      button_aprova.className = 'btn btn-info text-white'
      button_aprova.setAttribute('onclick', `aprovar_os(event, ${ordem.id}, "True", '${tr_id}')`)
    }

    if (ordem.cod_os_omie || ordem.cd_servico == '0'){
      button_debito.style.display = 'none';
      button_aprova.style.display = 'none';
    }else{
      button_debito.textContent = 'Lançar OS na OMIE'
      button_debito.className = 'btn btn-success text-white'
      button_debito.setAttribute('onclick', `debitar_os(event, ${ordem.id}, '${tr_id}')`)
    }
    
    myModal.toggle()
  }

  function buscar_ordem_for_id(e, id_ordem, type, tr_id){
    e.preventDefault();
    $.ajax({
      url: `/ordem_servico/buscar_ordem_servico/${id_ordem}`,
      type: 'GET',
      success: function(data){
        if (type === 'view'){
          abrir_modal_view_ordem(data, tr_id)
        }else{
          open_modal_update(data, tr_id)
        }
      },
      error: function(data){
        mostrarAlert('error_aviso_delete', 'danger', data.statusText)
      },
    })
  }

  function aprovar_os(e, id_ordem, bool, tr_id){
    e.preventDefault();
    $.ajax({
      url: `/ordem_servico/aprovar_ordem_servico/${id_ordem}`,
      type: 'GET',
      success: function(data){
        if (Object.values(data).includes('sucesso')){
          fecharModal('modalViewOrdem')
          alteraLinhaTable(tr_id, bool == "True" ? "APROVADO" : "DEBITAR")
        }else{
          mostrarAlert('error_aviso_view', 'danger', "Algo deu errado !!")
        }
      },
      error: function(data){
        mostrarAlert('error_aviso_view', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function debitar_os(e, id_ordem, tr_id){
    e.preventDefault();
    active_spinner_div('li_spinner');
    $.ajax({
      url: `/ordem_servico/debitar_ordem_servico/${id_ordem}`,
      type: 'GET',
      success: function(data){
        desactive_spinner_div('li_spinner');
        if (Object.values(data).includes('sucesso')){
          fecharModal('modalViewOrdem')
          alteraLinhaTable(tr_id, 'DEBITADO')
        }else{
          mostrarAlert('error_aviso_view', 'danger', "Algo deu errado !!")
        }
      },
      error: function(data){
        desactive_spinner_div('li_spinner');
        mostrarAlert('error_aviso_view', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function arquivar_os(e, id_ordem, bool, tr_id){
    e.preventDefault();
    $.ajax({
      url: `/ordem_servico/arquivar_ordem_servico/${id_ordem}`,
      type: 'GET',
      success: function(data){
        if (Object.values(data).includes('sucesso')){
          fecharModal('modalViewOrdem')
          alteraLinhaTable(tr_id, bool == "True" ? "ARQUIVADO" : "DEBITAR", id_ordem)
        }else{
          mostrarAlert('error_aviso_view', 'danger', "Algo deu errado !!")
        }
      },
      error: function(data){
        mostrarAlert('error_aviso_view', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function deletar_ordem(e, id_ordem, tr_id){
    e.preventDefault();

    $.ajax({
      url: "{% url 'delete_ordem_servico' %}",
      type: 'POST',
      data: {
        id_ordem,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data){
        fecharModal('modalDeleteOrdem')
        alteraLinhaTable(tr_id, "DELETAR")
      },
      error: function(data){
        mostrarAlert('error_aviso_delete', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function editar_ordem(e, id_ordem='', tr_id=null){
    e.preventDefault();
    data = {
      id_ordem: id_ordem,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    }

    let elements = document.getElementById("form_cadastra_update_os").elements;
    for (child of elements){
      if (child.name && child.name != 'csrfmiddlewaretoken' && child.name != 'id_ordem'){

        if (!child.value){
          mostrarAlert('error_aviso', 'danger', `Preencha o Campo: ${child.name.toUpperCase()}`);
          child.style.border = "1px solid red";
          return false;
        }

        data[child.name] = child.value
      }
    }

    $.ajax({
      url: "{% url 'list_ordem_servico' %}",
      type: 'POST',
      data: data,
      success: function(data){
        if (tr_id){
          let linhas = document.getElementById(tr_id).children;
          linhas[0].innerText = data.empresa;
          linhas[1].innerText = `${data.servico} - (desc.: ${data.ds_servico})`;
          linhas[2].innerText = data.cobranca;
          linhas[3].innerText = `${data.valor} (qtd.: ${data.quantidade})`;
          fecharModal('modalEditOrdem');
        }else{
          mostrarAlert('error_aviso', 'success', "Sucesso !!");
          setTimeout(() => {
            window.location.href = "{% url 'list_ordem_servico' %}";
          }, 900)
        }
      },
      error: function(data){
        mostrarAlert('error_aviso', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function mostrarAlert(div_id_class, type_alert, mensagem){
    document.getElementById(div_id_class).innerHTML = `<div class="alert alert-${type_alert} alert-dismissible fade show" role="alert"><strong class="text-dark">${mensagem}</strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
    window.scrollTo(0, 0);
    $('.modal').scrollTop(0);

    setTimeout(() => {
      $('.alert').alert('close')
    }, 6500)
  }

  function fecharModal(modalClass){
    var myModalEl = document.getElementById(modalClass)
    var modal = bootstrap.Modal.getOrCreateInstance(myModalEl)
    modal.hide()
  }

  function alteraLinhaTable(tr_id, type, id_ordem=null){
    if (type == "DELETAR"){
      deletarRowDataTables(tr_id)
    }else{
      let linha = document.getElementById(tr_id);
      for (child of linha.children){
        if (child.className.includes("h6")){
          if (type == 'DEBITADO'){
            child.className = "h6 text-success"
            if (child.title == 'status'){
              child.innerText = "DEBITADO"
            }
            if (child.title == 'check'){
              child.innerHTML = ""
            }
          }else if (type == 'APROVADO'){
            child.className = "h6 text-micolor"
            if (child.title == 'status'){
              child.innerText = "APROVADO"
            }
          }else if (type == 'ARQUIVADO'){
            child.className = "h6"
            if (child.title == 'status'){
              child.innerText = "ARQUIVADO"
            }
            if (child.title == 'check'){
              child.innerHTML = ""
            }
          }else{
            if (child.title == 'check'){
              child.innerHTML=`
                <input class="form-check-input" type="checkbox" value="" ordemid="${id_ordem}" id="flexCheckDefault">
              `;
            }else{
              child.className = "h6 text-warning"
            }
            if (child.id){
              child.innerText = "DEBITAR"
            }
          }
        }
      }
    }
  }
    
</script>

{% endblock %}


{% block scripts %}

<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/uppy.min.js' %}"></script>
<script src="{% static 'js/quill.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js" type="text/javascript"></script>

<script>

  async function selecionar_empresa(escritorio, selected=null){
    active_spinner_div('error_aviso');
    const formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('escritorio', escritorio);
    await fetch("{% url 'servicos_os' %}", { method: 'POST', body: formData })
      .then(response => {
        if (!response.ok) {
          return response.json().then(err => {
            throw new Error(`${err.message}`);
          });
        }
        return response.json();
      })
      .then((data) => {
        $('#id_servico').empty().trigger('change');
        var newOptionVazio = new Option("", "", true, true);
        $('#id_servico').append(newOptionVazio).trigger('change');
        for(row of data.servicos){
          let id_text = row[0] + " * " + row[1];
          var newOption = new Option(row[1], id_text, false, false);
          $('#id_servico').append(newOption).trigger('change');
        }
        $("#form_cadastra_update_os").find('input, textarea, select, button').prop('disabled', false);
        if (selected){
          $('#id_servico').val(`${selected}`).trigger('change');
        }
        desactive_spinner_div('error_aviso');
      })
      .catch(err => {
        mostrarAlert('error_aviso', 'danger', err);
        $('#id_servico').empty().trigger('change');
      })
  }

  $('#id_empresa').on('select2:select', function (e) { 
    var data = e.params.data;
    if (data.title){
      selecionar_empresa(data.title);
    }else{
      $("#form_cadastra_update_os").find('input, textarea, select, button').prop('disabled', true);
      document.getElementById('id_empresa').disabled = false;
      mostrarAlert('error_aviso', 'danger', "SELECIONE UMA EMPRESA !");
    }
  });
  
  $('#id_servico').on('select2:select', function (e) { 
    var data = e.params.data;
    var service_atual = document.getElementById('service_selected').textContent;
    if (data.text == service_atual){
      document.getElementById('service_selected').style.color = "green";
    }else{
      document.getElementById('service_selected').style.color = "red";
    }
  });

  $('.select2').on('select2:opening', async function (e) {
    window.scrollTo(0, 0);
    $('.modal').scrollTop(0);
  });

  $.fn.dataTable.ext.errMode = 'throw';
  $.fn.dataTable.moment('DD/MM/YYYY');

  var table = $('#dataTable-1').DataTable({
    initComplete: function () {
      this.api()
          .columns()
          .every(function () {
              let column = this;
              let title = column.footer() ? column.footer().textContent : null;
              if (title){
                  let input = document.createElement('input');
                  input.placeholder = title;
                  if (title === 'Valor'){
                    input.className = "form-control input-money"
                  }else if (title === 'Empresa'){
                    input.className = "form-control cd_empresa"
                  }else if (title === 'Data da Cobrança'){
                    input.className = "form-control dataMask"
                  }else if (title === 'Debitar' || title === 'Serviço'){
                    input.className = "form-control funcion_lower"
                  }else{
                    input.className = "form-control"
                  }
                  input.name = title.toLowerCase().split(' ').join("_").replace("ç", "c")
                  input.title = title
                  column.footer().replaceChildren(input);
                  input.addEventListener('keyup', () => {
                      if (column.search() !== this.value) {
                          column.search(input.value).draw();
                      }
                  });
              }
          });
    }
  });

  table.on('click', 'tbody tr td input', function (e) {
    e.currentTarget.parentNode.parentNode.classList.toggle('selected');
  });

  function button_spinner(button, active, html=''){
    button.innerHTML = active ? `
      <center>
        <div class="spinner-border justify-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </center>
    ` : `${html}`;
    button.disabled = active;
  }

  function active_spinner_div(div_class){
    document.getElementById(`${div_class}`).innerHTML = `
      <div class="spinner-border justify-center" role="status">
          <span class="sr-only">Loading...</span>
      </div>
    `
  }

  function desactive_spinner_div(div_class){
    document.getElementById(`${div_class}`).innerHTML = ``
  }

  function list_checks_table(event){
    let date = new Date();
    var myModal = new bootstrap.Modal(document.getElementById('modalDebitoLote'), {backdrop: 'static'});
    document.getElementById("select_lanc").value = 'datas';
    document.getElementById("data_inicio_debito").valueAsDate = new Date(date.getFullYear(), date.getMonth(), 1);
    document.getElementById("data_final_debito").valueAsDate = date;
    document.getElementById("select_escritorio_lote").value = '';
    document.getElementById("customFile").value = '';
    document.getElementById("customFile").disabled = true;
    document.getElementById('bodyDebitoLote').innerHTML = "";
    myModal.toggle();
  }

  function baixar_arquivo(data){
    try{
      const byteCharacters = atob(data.file);
      const byteNumbers = new Array(byteCharacters.length);
      for (let i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      const byteArray = new Uint8Array(byteNumbers);
      const blob = new Blob([byteArray], {
        type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      });
      const link = document.createElement('a');
      link.href = window.URL.createObjectURL(blob);
      link.download = data.filename;
      document.body.appendChild(link);
      link.click();
      link.remove();
      window.location.href = "{% url 'list_ordem_servico' %}";
    }catch (e) {
      mostrarAlert('error_aviso_lotes', 'danger', e.message || "Houve Algum Erro no Processo");
    }
  }

  async function debitar_ordens_lote(e){
    e.preventDefault();
    const formulario_file = document.getElementById("form_for_file");
    const formData = new FormData(formulario_file);

    if (formData.get("select_lanc") === 'datas'){
      if (!formData.get("data_inicio_debito") || !formData.get("data_final_debito")){
        mostrarAlert('error_aviso_lotes', 'danger', "Preencha as Duas Datas Obrigatórias !");
        return null;
      }
    }else{
      table.rows('.selected').data().map(tr => {
        let result = tr[6].match('[0-9]+')[0] || null
        if(result){
          formData.append("orders[]", result);
        }
      })
      if (!formData.get("orders[]") && !formData.get("arquivo_os").name){
        mostrarAlert('error_aviso_lotes', 'danger', "Preencha o ARQUIVO ou ALGUMA ORDEM ESPECÍFICA !");
        return null;
      }
    }

    button_spinner(e.target, true)
    await fetch("{% url 'debitar_em_lote' %}", {
        method: "POST",
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            return response.json().then(err => {
                throw new Error(`${err.message}`);
            });
        }
        return response.json();
    })
    .then(data => {
      baixar_arquivo(data.auditoria);
    })
    .catch(error => {
      mostrarAlert('error_aviso_lotes', 'danger', error);
    })
    .finally(() => {
      button_spinner(e.target, false, 'Debitar Novamente');
    });
  }

  async function baixar_boletos_escritorio(e){
    e.preventDefault();
    $("#modalDownloadPdfs").find('button.close').prop('disabled', true);
    const formulario_file = document.getElementById("form_for_dow");
    const formData = new FormData(formulario_file);
    button_spinner(e.target, true)
    await fetch("{% url 'download_boletos_escritorio' %}", { method: "POST", body: formData})
    .then(response => {
      if (!response.ok) {
        return response.json().then(err => {
          throw new Error(`${err.message}`);
        });
      }
      return response.json();
    })
    .then(data => {
      if (Object.keys(data).includes('task_id')){
        verificarStatus(data.task_id, data.escritorio);
      }else{
        mostrarAlert('error_aviso_dow', 'danger', "Não retornou Corretamente a Resposta da API (ID DA TASK)");
      }
    })
    .catch(error => {
      mostrarAlert('error_aviso_dow', 'danger', error);
      button_spinner(e.target, false, 'Baixar Boletos !');
      $("#modalDownloadPdfs").find('button.close').prop('disabled', false);
    })
  }

  async function verificarStatus(taskId, escritorio) {
    const interval = setInterval(async () => {
      const response = await fetch(`/ordem_servico/status_task_os/${taskId}/`);
      const data = await response.json();
      console.log("Status:", data);
      
      if (data.state === "SUCCESS") {
        clearInterval(interval);
        document.getElementById("btn_down_bol").style.display = "";
        document.getElementById('btn_down_bol').setAttribute('onclick', `btn_download_boletos(event, '${data.escritorio}')`)
      }

      if (data.state === "FAILURE") {
        clearInterval(interval);
        alert("Erro no processamento");
      }

    }, 10000);
  }

  async function btn_download_boletos(e, escritorio){
    e.preventDefault();
    button_spinner(e.target, true)
    await fetch("{% url 'baixar_boletos_os' %}", { method: "GET" })
    .then(response => {
      if (!response.ok) {
        return response.json().then(err => {
          throw new Error(`${err.message}`);
        });
      }
      return response.json();
    })
    .then(data => {
      console.log(data)
      console.log(escritorio)
      //if (Object.keys(data).includes('files_zip')){
      //  const byteCharacters = atob(data.files_zip);
      //  const byteNumbers = new Array(byteCharacters.length);
      //  for (let i = 0; i < byteCharacters.length; i++) {
      //      byteNumbers[i] = byteCharacters.charCodeAt(i);
      //  }
      //  const byteArray = new Uint8Array(byteNumbers);
      //  const blob = new Blob([byteArray], {
      //      type: 'application/zip'
      //  });
      //  const link = document.createElement('a');
      //  link.href = window.URL.createObjectURL(blob);
      //  link.download = `Boletos das OS ${escritorio}.zip`;
      //  document.body.appendChild(link);
      //  link.click();
      //  link.remove();
      //  //window.location.href = "{% url 'list_ordem_servico' %}";
      //  fecharModal('modalDownloadPdfs');
      //}else{
      //  mostrarAlert('error_aviso_dow', 'danger', "Não retornou Corretamente a Resposta da API");
      //}
    })
    .catch(error => {
      mostrarAlert('error_aviso_dow', 'danger', error);
    })
  }

  function search(event){
    document.querySelector(`#filterServico input`).value = '';
    document.querySelector(`#filterDebitar input`).value = '';
    table.columns(1).search('').draw();
    table.columns(4).search('').draw();
    let input_sel = event.target.value == 'SEM SERVIÇO SELECIONADO' ? 'filterServico' : 'filterDebitar';
    document.querySelector(`#${input_sel} input`).value = event.target.value;
    let column = event.target.value == 'SEM SERVIÇO SELECIONADO' ? 1 : 4;
    table.columns(column).search(event.target.value).draw();
  }

  function deletarRowDataTables(row_id){
    $('#dataTable-1').DataTable().row(document.getElementById(row_id)).remove().draw();
  }

  $('.input-money').mask("#.##0,00",
  {
    reverse: true
  });

  $('#id_execucao').mask("000:00",
  {
    reverse: true
  });

  $('.cd_empresa').mask("000000",
  {
    reverse: true
  });
  $('.dataMask').mask("00/00/0000",
  {
    reverse: true
  });

  $('.select2').select2( { theme: 'bootstrap4', width: '100%', tags:true, dropdownParent: $('#modalEditOrdem') } );
  $('#select_filename').select2( { theme: 'bootstrap4', width: '100%', tags:true, dropdownParent: $('#modalDownloadPdfs') } );

  $.fn.dataTableExt.afnFiltering.push(
    function( settings, data, dataIndex ) {
        var min = $('#min-date').val().split("-").reverse().join("/")
        var max = $('#max-date').val().split("-").reverse().join("/")
        var createdAt = data[2] || 2;
        var startDate = moment(min, "DD/MM/YYYY").subtract('1','days');
        var endDate = moment(max, "DD/MM/YYYY").add('1','days');
        var diferencaDate = moment(createdAt, "DD/MM/YYYY");
        if (
          (min == "" || max == "") ||
          (diferencaDate.isBetween(startDate, endDate))
        ) {  return true;  }
        return false;
    }
  );

  $('.date-range-filter').change( function() {
      table.draw();
  } );

  $('.funcion_lower').on('keyup', (event) => {
    event.target.value = event.target.value.toUpperCase().trim()
  });

</script>

{% endblock %}
    