{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block body %}

<style>
  .btn-orange{
    background-color: #FD7E14;
  }
  input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
  }
  input[type='checkbox']:checked {
      background: #6F46B7;
  }
</style>

<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row my-4">
          <h2 class="text-center ml-3 mb-3">Controle de Ordens de Serviços</h2>
          <!-- Small table -->
          <div class="col-md-12">
            {% bootstrap_messages messages %}
            <div id="alert_geral_sucesso"></div>
            <div class="card shadow" id="cardOs">
              <div class="card-header d-flex justify-content-between">
                <div class="d-lg-flex">
                  <select class="custom-select ml-2" style="max-width: 250px" id="find_status" onchange="search(event)" >
                    <option value="">Status...</option>
                    <option value="DEBITAR">DEBITAR</option>
                    <option value="DEBITADO">DEBITADO</option>
                    <option value="ARQUIVADO">ARQUIVADO</option>
                  </select>
                </div>
                <div class="d-lg-flex">
                  <input 
                      type="date" 
                      id="min-date"
                      name="min_date"
                      title="Início do Período"
                      class="date-range-filter form-control"
                      placeholder="Período Inicial:">
                  &nbsp;&nbsp;
                  <input 
                      type="date" 
                      id="max-date" 
                      name="max_date" 
                      title="Fim do Período" 
                      class="date-range-filter form-control"
                      placeholder="Período Final:">
                </div>
                <div>
                  <a class="btn btn-orange" style="color:#fff;" onclick="open_modal_auditoria()">Baixar Planilha</a>
                  <a class="btn btn-success float-right ml-3" style="color:#fff;" onclick="open_modal_add_os()">Adicionar O.S.</a>
                </div>
              </div>
              <div class="card-body">
                <!-- table -->
                <table class="table datatables table-hover" id="dataTable-1">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Serviço</th>
                      <th>Data da Cobrança</th>
                      <th>Valor</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ordem in ordens %}
                      {% with counter=forloop.counter0 %}
                        <tr id="tr_{{counter}}">
                          <td class="h6 {% if ordem.debitar %} text-success {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.cd_empresa}} - {{ordem.nome_empresa}}</td>
                          <td class="h6 {% if ordem.debitar %} text-success {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.servico}}</td>
                          <td class="h6 {% if ordem.debitar %} text-success {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.data_cobranca}}</td>
                          <td class="h6 {% if ordem.debitar %} text-success {% elif not ordem.arquivado %} text-warning {% endif %}">{{ordem.valor}}</td>

                          <td class="h6 {% if ordem.debitar %} text-success {% elif not ordem.arquivado %} text-warning {% endif %}" id="status"> 
                            {% if ordem.debitar %} 
                              DEBITADO
                            {% elif ordem.arquivado %} 
                              ARQUIVADO 
                            {% else %}
                              DEBITAR
                            {% endif %}
                          </td>

                          <td>
                            <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <button class="dropdown-item text-primary" onclick="buscar_ordem_for_id(event, {{ordem.id}}, 'view', 'tr_{{counter}}')"><i class="fe fe-eye fe-16 mr-2"></i> Visualizar Ordem</button>

                              {% if not ordem.ordem_debitada_id %}
                                <button class="dropdown-item text-warning" onclick="buscar_ordem_for_id(event, {{ordem.id}}, 'edit', 'tr_{{counter}}')"><i class="fe fe-edit fe-16 mr-2"></i> Editar Ordem</button>
                              {% endif %}

                              <button class="dropdown-item text-danger" onclick="open_modal_deletar({{ordem.id}}, '{{ordem.cd_empresa}}', '{{ordem.nome_empresa}}', 'tr_{{counter}}')"><i class="fe fe-trash-2 fe-16 mr-2"></i> Deletar Ordem</button>
                            </div>
                          </td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Empresa</th>
                      <th>Serviço</th>
                      <th>Data da Cobrança</th>
                      <th>Valor</th>
                      <th id="filterDebitar">Status</th>
                    </tr>
                </tfoot>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        </div>
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
</main> <!-- main -->


<!-- MODAL Create Regra -->
<div class="modal fade" id="modalEditOrdem" tabindex="-1" role="dialog" aria-labelledby="modalEditOrdemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalEditOrdemLabel"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="error_aviso"></div>
            <form method="POST" action="{% url 'list_ordem_servico' %}" id="form_cadastra_update_os">
                {% csrf_token %}

                <input type="number" name="id_ordem" id="id_ordem_form" style="display: none;">

                <div class="form-row" id="typecreate_ordem"></div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.empresa label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    {% bootstrap_field form.data_cobranca label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.execucao label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    {% bootstrap_field form.data label_class='font-weight-bold' form_group_class="col-6 col-sm-6"  %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.servico label_class='font-weight-bold' form_group_class="col-12 col-sm-12" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    <div class="col-12 col-sm-12">
                        <label class="font-weight-bold" for="id_descricao">Descrição:</label>
                        <textarea name="descricao" cols="40" rows="2" class="form-control" id="id_descricao" onkeyup="contabilizar(event)"></textarea>
                        <small class="form-text text-muted">Descrever a Descrição <b id="caracteres_descricao">47 Caracteres</b></small>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.descricao_servico label_class='font-weight-bold' form_group_class="col-12 col-sm-12" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.quantidade label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    <div class="col-6 col-sm-6">
                        <label class="font-weight-bold" for="id_valor">Valor:</label>
                        <input type="text" name="valor" class="form-control input-money" required id="id_valor">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.autorizacao label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    {% bootstrap_field form.solicitacaoLocal label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                </div>
                <br>
                <br>
                <div class="form-row">
                    {% bootstrap_field form.solicitacao label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                    {% bootstrap_field form.executado label_class='font-weight-bold' form_group_class="col-6 col-sm-6" placeholder=False %}
                </div>
                <br>
                <br>

                <button class="btn btn-outline-primary float-right mt-3" style="width: 100%;" id="id_button_for_edit_os" data-toggle="popover" data-placement="bottom" data-trigger="hover"> 
                    <strong>Executar</strong>
                </button>
            </form>
        </div>
    </div>
  </div>
</div>

<!-- MODAL DELETE -->
<div class="modal fade" id="modalDeleteOrdem" tabindex="-1" role="dialog" aria-labelledby="modalDeleteOrdemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalDeleteOrdemLabel"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div id="error_aviso_delete"></div>
          <center>
              <button class="btn btn-outline-success btn-lg" id="button_delete_ordem">
                <strong>Deletar Ordem</strong>
              </button>
          </center>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalViewOrdem" tabindex="-1" role="dialog" aria-labelledby="modalViewOrdemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="error_aviso_view"></div>
        <div class="modal-header">
            <h5 class="modal-title" id="modalViewOrdemLabel"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="view_ordem"></div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-warning" id="button_arquive_view"></button>
          <button type="button" id="button_debito_view"></button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAuditoria" tabindex="-1" role="dialog" aria-labelledby="modalAuditoriaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalAuditoriaLabel">Baixar Planilha das Ordens de Serviços Cadastrados</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'baixar_planilha_ordens_servico' %}">
              {% csrf_token %}
              <div id="div_inputs_filter"></div>
              <center>
                <button class="btn btn-outline-success btn-lg mt-5">
                  <strong>Baixar Planilha</strong>
                </button>
              </center>
            </form>
        </div>
    </div>
  </div>
</div>

<script>

  function contabilizar(event){
    let text = document.getElementById('caracteres_descricao').textContent.split(' ')
    let textDescicao = document.getElementById('id_descricao').value
    let lenTextDescricao = textDescicao.length

    if (event.keyCode === 8){
        text[0] = 47 - lenTextDescricao
        text = text.join(' ')
        document.getElementById('caracteres_descricao').textContent = text
    }else{
        if (lenTextDescricao >= 47){
            text[0] = '0'
            text = text.join(' ')
            document.getElementById('caracteres_descricao').textContent = text
            document.getElementById('id_descricao').value = textDescicao.slice(0, 47)
        }else{
            text[0] = 47 - lenTextDescricao
            text = text.join(' ')
            document.getElementById('caracteres_descricao').textContent = text
        }
    }
  }

  function contabilizar_edit(){
    let text = document.getElementById('caracteres_descricao').textContent.split(' ')
    let textDescicao = document.getElementById('id_descricao').value
    let lenTextDescricao = textDescicao.length

    if (lenTextDescricao >= 47){
        text[0] = '0'
        text = text.join(' ')
        document.getElementById('caracteres_descricao').textContent = text
        document.getElementById('id_descricao').value = textDescicao.slice(0, 47)
    }else{
        text[0] = 47 - lenTextDescricao
        text = text.join(' ')
        document.getElementById('caracteres_descricao').textContent = text
    }
  }

  function open_modal_update(ordem, tr_id){
    var myModal = new bootstrap.Modal(document.getElementById('modalEditOrdem'))
    document.getElementById('modalEditOrdemLabel').textContent = `Editar Esta Ordem da ${ordem.cd_empresa} - ${ordem.nome_empresa}`
    document.getElementById('id_ordem_form').value = parseInt(ordem.id)
    document.getElementById('id_empresa').value = parseInt(ordem.cd_empresa)
    document.getElementById('id_execucao').value = ordem.hora_trabalho
    document.getElementById('id_data').value = ordem.data_realizado.split('/').reverse().join('-')
    document.getElementById('id_data_cobranca').value = ordem.data_cobranca.split('/').reverse().join('-')
    document.getElementById('id_servico').value = ordem.cd_servico + ' * ' + ordem.servico
    document.getElementById('id_descricao').disabled = false
    document.getElementById('id_descricao').required = true
    document.getElementById('id_ordem_form').required = true
    document.getElementById('id_descricao').value = ordem.ds_servico
    document.getElementById('id_descricao_servico').value = ordem.observacoes_servico
    document.getElementById('id_quantidade').value = parseInt(ordem.quantidade)
    document.getElementById('id_valor').value = ordem.valor.replace("R$ ", '')
    document.getElementById('id_autorizacao').value = ordem.autorizado_pelo_cliente ? 'SIM' : 'NÃO'
    document.getElementById('id_solicitacaoLocal').value = ordem.type_solicitacao
    document.getElementById('id_solicitacao').value = ordem.solicitado
    document.getElementById('id_executado').value = ordem.executado
    document.getElementById('typecreate_ordem').innerHTML = ''
    document.getElementById('id_button_for_edit_os').setAttribute('onclick', `editar_ordem(event, ${ordem.id},'${tr_id}')`)
    contabilizar_edit()
    myModal.toggle()
  }

  function open_modal_deletar(id_ordem, cd_empresa, razao_social, tr_id){
    var myModal = new bootstrap.Modal(document.getElementById('modalDeleteOrdem'))
    document.getElementById('modalDeleteOrdemLabel').textContent = `Deletar a Regra para a Empresa: ${cd_empresa} - ${razao_social}`
    document.getElementById('button_delete_ordem').setAttribute('onclick', `deletar_ordem(event, ${id_ordem}, '${tr_id}')`)
    myModal.toggle()
  }

  function open_modal_auditoria(){
    var myModal = new bootstrap.Modal(document.getElementById('modalAuditoria'))
    let filtros_input = document.getElementById('cardOs').getElementsByTagName('input');
    let campos = []
    for (input of filtros_input){
      if (input.value && input.type !== 'search'){
        campos.push(input)
      }
    }
    document.getElementById('div_inputs_filter').innerHTML = campos.length > 0 ? `
      <h3 class="mb-5">Escolha os Filtros:</h3>
      ${campos.map(input => {
        return `
          <div class="form-row mt-3">
            <div class="col-12 col-sm-12">
              <label class="font-weight-bold" for="cd_empresa">${input.title}:</label>
              <div class="input-group mb-3">
                <input type="${input.type}" class="${input.className}" name="${input.name}" placeholder="${input.title}" aria-label="${input.title}" aria-describedby="button-addon2" value="${input.value}" required>
                <button class="btn btn-outline-danger" type="button" onclick="return this.parentNode.parentNode.parentNode.remove()" id="button-addon2"><i class="fe fe-trash-2 fe-16"></i>Deletar Filtro</button>
              </div>
            </div>
          </div>
        `
      }).join("\n")}
    ` : ''
    myModal.toggle()
  }

  function open_modal_add_os(){
    var myModal = new bootstrap.Modal(document.getElementById('modalEditOrdem'))
    document.getElementById('modalEditOrdemLabel').textContent = `Adicionar Ordem de Serviço`
    document.getElementById('id_ordem_form').value = ''
    document.getElementById('id_empresa').value = ''
    document.getElementById('id_execucao').value = ''
    document.getElementById('id_data').value = ''
    document.getElementById('id_data_cobranca').value = ''
    document.getElementById('id_servico').value = ''
    document.getElementById('id_descricao').value = ''
    document.getElementById('id_descricao').disabled = true
    document.getElementById('id_descricao').required = false
    document.getElementById('id_ordem_form').required = false
    document.getElementById('id_descricao_servico').value = ''
    document.getElementById('id_quantidade').value = ''
    document.getElementById('id_valor').value = ''
    document.getElementById('id_autorizacao').value = ''
    document.getElementById('id_solicitacaoLocal').value = ''
    document.getElementById('id_solicitacao').value = ''
    document.getElementById('id_executado').value = ''
    document.getElementById('typecreate_ordem').innerHTML = `
      <div class="col-12 col-sm-12">
        <label class="font-weight-bold" for="id_typeCreate">Opções de Cadastro: </label>
        <select name="typeCreate" class="form-control" required id="id_typeCreate">
          <option valeu=''></option>
          <option valeu='DEBITAR'>À DEBITAR</option>
          <option valeu='DEBITADO'>DEBITADO</option>
          <option valeu='ARQUIVADO'>ARQUIVADO</option>
        </select>
      </div>
    `
    document.getElementById('id_button_for_edit_os').removeAttribute('onclick')
    myModal.toggle()
  }

  function abrir_modal_view_ordem(ordem, tr_id){
    var myModal = new bootstrap.Modal(document.getElementById('modalViewOrdem'))
    let button_debito = document.getElementById('button_debito_view')
    let button_arquive = document.getElementById('button_arquive_view')
    document.getElementById('view_ordem').innerHTML = `
      <ul class="list-group list-group-flush">
        <li class="list-group-item h5">Empresa: ${ordem.cd_empresa} - ${ordem.nome_empresa}</li>
        <li class="list-group-item h5">Serviço: ${ordem.servico}</li>
        <li class="list-group-item h5">Descrição Serviço: ${ordem.ds_servico}</li>
        <li class="list-group-item h5">Descrição: ${ordem.observacoes_servico}</li>
        <li class="list-group-item h5">Quantidade: ${ordem.quantidade}</li>
        <li class="list-group-item h5">Valor: ${ordem.valor}</li>
        <li class="list-group-item h5">Horas: ${ordem.hora_trabalho}</li>
        <li class="list-group-item h5">Data Realizado: ${ordem.data_realizado}</li>
        <li class="list-group-item h5">Quem Solicitou: ${ordem.solicitado}</li>
        <li class="list-group-item h5">Quem Realizou: ${ordem.executado} </li>
        <li class="list-group-item h5">Departamento: ${ordem.departamento}</li>
        <li class="list-group-item h5">Autorizado: ${ordem.autorizado_pelo_cliente ? 'SIM' : 'NÃO'} </li>
        <li class="list-group-item h5">Tipo: ${ordem.type_solicitacao}</li>
        <li class="list-group-item h5">Quem Criou a OS: ${ordem.criador_os}</li>
      </ul>
    `
    if (ordem.arquivado){
      button_debito.style.display = 'none'
      button_arquive.textContent = "Remover do Arquivado"
      button_arquive.className = 'btn btn-danger text-white'
      button_arquive.setAttribute('onclick', `arquivar_os(event, ${ordem.id}, "False", '${tr_id}')`)
    }else{
      button_arquive.textContent = "Arquivar / Ignorar Ordem de Serviço"
      button_arquive.className = 'btn btn-success text-white'
      button_arquive.setAttribute('onclick', `arquivar_os(event, ${ordem.id}, "True", '${tr_id}')`)
      button_debito.style.display = 'block'
      button_debito.textContent = ordem.debitar ? 'Cancelar Débito da Ordem de Serviço' : 'Debitar Ordem de Serviço'
      button_debito.className = ordem.debitar ? 'btn btn-danger text-white' : 'btn btn-success text-white'
      button_debito.setAttribute('onclick', `debitar_os(event, ${ordem.id}, '${ordem.debitar ? "False" : "True" }', '${tr_id}')`)
    }
    myModal.toggle()
  }

  function buscar_ordem_for_id(e, id_ordem, type, tr_id){
    e.preventDefault();
    $.ajax({
      url: `/ordem_servico/buscar_ordem_servico/${id_ordem}`,
      type: 'GET',
      success: function(data){
        if (type === 'view'){
          abrir_modal_view_ordem(data, tr_id)
        }else{
          open_modal_update(data, tr_id)
        }
      },
      error: function(data){
        mostrarAlert('error_aviso_delete', 'danger', data.statusText)
      },
    })
  }

  function debitar_os(e, id_ordem, bool, tr_id){
    e.preventDefault();
    $.ajax({
      url: `/ordem_servico/debitar_ordem_servico/${id_ordem}?debitar=${bool}`,
      type: 'GET',
      success: function(data){
        if (Object.values(data).includes('sucesso')){
          fecharModal('modalViewOrdem')
          alteraLinhaTable(tr_id, bool == "True" ? 'DEBITADO' : "DEBITAR")
        }else{
          mostrarAlert('error_aviso_view', 'danger', "Algo deu errado !!")
        }
      },
      error: function(data){
        mostrarAlert('error_aviso_view', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function arquivar_os(e, id_ordem, bool, tr_id){
    e.preventDefault();
    $.ajax({
      url: `/ordem_servico/arquivar_ordem_servico/${id_ordem}?arquivar=${bool}`,
      type: 'GET',
      success: function(data){
        if (Object.values(data).includes('sucesso')){
          fecharModal('modalViewOrdem')
          alteraLinhaTable(tr_id, bool == "True" ? "ARQUIVADO" : "DEBITAR")
        }else{
          mostrarAlert('error_aviso_view', 'danger', "Algo deu errado !!")
        }
      },
      error: function(data){
        mostrarAlert('error_aviso_view', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function deletar_ordem(e, id_ordem, tr_id){
    e.preventDefault();

    $.ajax({
      url: "{% url 'delete_ordem_servico' %}",
      type: 'POST',
      data: {
        id_ordem,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data){
        fecharModal('modalDeleteOrdem')
        alteraLinhaTable(tr_id, "DELETAR")
      },
      error: function(data){
        mostrarAlert('error_aviso_delete', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function editar_ordem(e, id_ordem, tr_id){
    e.preventDefault();
    data = {
      id_ordem: id_ordem,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    }

    let elements = document.getElementById("form_cadastra_update_os").elements;
    for (child of elements){
      if (child.name && child.name != 'csrfmiddlewaretoken' && child.name != 'id_ordem'){

        if (!child.value){
          mostrarAlert('error_aviso', 'danger', `Preencha o Campo: ${child.name.toUpperCase()}`);
          child.style.border = "1px solid red";
          return false;
        }

        data[child.name] = child.value
      }
    }

    $.ajax({
      url: "{% url 'list_ordem_servico' %}",
      type: 'POST',
      data: data,
      success: function(data){
        let linhas = document.getElementById(tr_id).children;
        linhas[0].innerText = data.empresa
        linhas[1].innerText = data.servico
        linhas[2].innerText = data.cobranca
        linhas[3].innerText = data.valor
        fecharModal('modalEditOrdem')
      },
      error: function(data){
        mostrarAlert('error_aviso', 'danger', data.responseJSON ? data.responseJSON.error : data.statusText)
      },
    })
  }

  function mostrarAlert(div_id_class, type_alert, mensagem){
    document.getElementById(div_id_class).innerHTML = `<div class="alert alert-${type_alert} alert-dismissible fade show" role="alert"><strong class="text-dark">${mensagem}</strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`

    setTimeout(() => {
      $('.alert').alert('close')
    }, 5000)
  }

  function fecharModal(modalClass){
    var myModalEl = document.getElementById(modalClass)
    var modal = bootstrap.Modal.getOrCreateInstance(myModalEl)
    modal.hide()
  }

  function alteraLinhaTable(tr_id, type){
    if (type == "DELETAR"){
      deletarRowDataTables(tr_id)
    }else{
      let linha = document.getElementById(tr_id);
      for (child of linha.children){
        if (child.className.includes("h6")){
          if (type == 'DEBITADO'){
            child.className = "h6 text-success"
            if (child.id){
              child.innerText = "DEBITADO"
            }
          }else if (type == 'ARQUIVADO'){
            child.className = "h6"
            if (child.id){
              child.innerText = "ARQUIVADO"
            }
          }else{
            child.className = "h6 text-warning"
            if (child.id){
              child.innerText = "DEBITAR"
            }
          }
        }
      }
    }
  }
    
</script>

{% endblock %}


{% block scripts %}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/uppy.min.js' %}"></script>
<script src="{% static 'js/quill.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js" type="text/javascript"></script>

<script>

  $.fn.dataTable.ext.errMode = 'throw';
  $.fn.dataTable.moment('DD/MM/YYYY');

  var table = $('#dataTable-1').DataTable({
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    let column = this;
                    let title = column.footer() ? column.footer().textContent : null;
                    if (title){
                        let input = document.createElement('input');
                        input.placeholder = title;
                        if (title === 'Valor'){
                          input.className = "form-control input-money"
                        }else if (title === 'Empresa'){
                          input.className = "form-control cd_empresa"
                        }else if (title === 'Data da Cobrança'){
                          input.className = "form-control dataMask"
                        }else if (title === 'Debitar' || title === 'Serviço'){
                          input.className = "form-control funcion_lower"
                        }else{
                          input.className = "form-control"
                        }
                        input.name = title.toLowerCase().split(' ').join("_").replace("ç", "c")
                        input.title = title
                        column.footer().replaceChildren(input);
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    }
                });
        }
    });

  function search(event){
    document.querySelector("#filterDebitar input").value = event.target.value;
    table.columns(4).search(event.target.value).draw();
  }

  function deletarRowDataTables(row_id){
    $('#dataTable-1').DataTable().row(document.getElementById(row_id)).remove().draw();
  }

  $('.input-money').mask("#.##0,00",
  {
    reverse: true
  });

  $('.cd_empresa').mask("000000",
  {
    reverse: true
  });
  $('.dataMask').mask("00/00/0000",
  {
    reverse: true
  });

  $.fn.dataTableExt.afnFiltering.push(
    function( settings, data, dataIndex ) {
        var min = $('#min-date').val().split("-").reverse().join("/")
        var max = $('#max-date').val().split("-").reverse().join("/")
        var createdAt = data[2] || 2;
        var startDate = moment(min, "DD/MM/YYYY").subtract('1','days');
        var endDate = moment(max, "DD/MM/YYYY").add('1','days');
        var diferencaDate = moment(createdAt, "DD/MM/YYYY");
        if (
          (min == "" || max == "") ||
          (diferencaDate.isBetween(startDate, endDate))
        ) {  return true;  }
        return false;
    }
  );

  $('.date-range-filter').change( function() {
      table.draw();
  } );

  $('.funcion_lower').on('keyup', (event) => {
    event.target.value = event.target.value.toUpperCase().trim()
  });

</script>

{% endblock %}
    