{% load static %}

<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
  <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
    <i class="fe fe-x"><span class="sr-only"></span></i>
  </a>
  <nav class="vertnav navbar navbar-light">
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
      <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'core:home' %}">
        <img id="logo" class="navbar-brand-img brand-sm" src="{% static 'assets/images/dp.png' %}" >
      </a>
    </div>
    <p class="text-muted nav-heading mt-4 mb-1">
      <span>Aplicações</span>
    </p>
  </nav>
</aside>