{% load static %}

<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
  <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
    <i class="fe fe-x"><span class="sr-only"></span></i>
  </a>
  <nav class="vertnav navbar navbar-light">
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
      <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'core:home' %}">
        <img id="logo" class="navbar-brand-img brand-sm" src="{% static 'assets/images/dp.png' %}" >
      </a>
    </div>
    <p class="text-muted nav-heading mt-4 mb-1">
      <span>Aplicações</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2">
      <li class="nav-item dropdown">
        <a href="#geradoc" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-file-text fe-16"></i>
          <span class="ml-3 item-text">Geradoc</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="geradoc">
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'request_contrato_honorario' %}"><span class="ml-1 item-text">Contrato Honorário</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'request_distrato' %}"><span class="ml-1 item-text">Distrato</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'inadimplentes' %}"><span class="ml-1 item-text">Inadimplência</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#utilitarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-box fe-16"></i>
          <span class="ml-3 item-text">Utilitários</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="utilitarios">
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'emissao-nf-manual' %}"><span class="ml-1 item-text">Emissão NF Manual</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'emissao-nf-retorno' %}"><span class="ml-1 item-text">Emissão NF Retorno</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'notas_antecipadas' %}"><span class="ml-1 item-text">Notas Antecipadas</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'recibimentos_empresarial' %}"><span class="ml-1 item-text">Recibimentos Empresarial</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'boletos' %}"><span class="ml-1 item-text">Separador de Boletos</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#honorario_131" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-file-text fe-16"></i>
          <span class="ml-3 item-text">Honorário 131</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="honorario_131">
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'regras_honorario_131' %}"><span class="ml-1 item-text">Controle de Honorários</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'relatorioHonorario_131' %}"><span class="ml-1 item-text">Relatório Honorário</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#relatorios_app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-file-text fe-16"></i>
          <span class="ml-3 item-text">Relatórios</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="relatorios_app">
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'request_relatorio_faturamento' %}"><span class="ml-1 item-text">Faturamento por Serviço</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#ordem_servico" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-file-plus fe-16"></i>
          <span class="ml-3 item-text">Ordem de Serviço</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="ordem_servico">
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'request_classificacao_servicos' %}"><span class="ml-1 item-text">Controle de Classificações</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'list_ordem_servico' %}"><span class="ml-1 item-text">Controle Ordem de Serviço</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'controle_servicos_OS' %}"><span class="ml-1 item-text">Classificações de Serviços</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'list_empresas_omie' %}"><span class="ml-1 item-text">Relação Empresas OMIE</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>